{% extends "orders/base.html" %}
{% block title %}
  Contact Us!
{% endblock title %}
{% block content %}
  <div class="container">
    <h1 class='toptext text-center'> Contact Details <i class="mobile icon"></i></h1>
    <table class='table table-hover table-striped' style='margin-top:2%; font-size: 20px; background-color: #A9A9A9;'>
      <tr>
      <td>
        Our phone numbers are 123-456-7890 or 617-876-0012
    </td>
    </tr>
    <tr><td>
    Our fax number is 120-001-1234
    </td></tr>
    <tr><td>
    Find us on Twitter <i class='fa fa-twitter' style='width:4%'></i> @cheesilicious
    </td></tr>
    <tr><td>
    And Instagram <i class='fa fa-instagram' style='width:4%'></i> @cheesilicious
    </td></tr>
    <tr><td>
    Our mailing address is:
    Cheesilicious
    74 Nariman Point
    Mumbai, India 000000
    </td></tr>
    <tr><td>
    If you have any questions or comments or would like to get on our email list you can email us at cheesilicious@test.com
      <td></tr>
      </table>
  </div>
{% endblock content %}