{% extends "orders/base.html" %}
{% block title %}
FAQ
{% endblock title %}
{% block content %}

<div class="container boxed" style="margin-left:20%; margin-top: 2%; padding-top: 5%; padding-bottom: 4%; color: crimson;">
    <h1 class='toptext text-center'> FAQ<i class="fa fa-question-circle"></i></h1>
    <h2 class='toptext'> Regular v/s Sicilian Pizza </h2>
    <h3> Sicilian Pizza </h3>
    <h4>Our Sicilian pizza is a deep-dish or thick-crust pizza. We sell them in a 9-slice or a 15-slice size.</h4>
    <h4>
      The 9-slice size is 16" x 16" and will feed anywhere from 3 to 5 people.<br>
      The 15-slice size is 28" x 16", comes in 2 large pizza boxes and can feed 6 to 9 people.
    </h4>
    <br>
    <h3>Regular Pizza</h3>
    <h4>
      Our Regular pizza is a thin-crust or Neapolitan pizza. They come in 2 sizes: small (12" in diameter) and large (16" in diameter). The small is suitable for 1 to 2 people while the large feeds 2 to 4 people.
    </h4>
    <br>
    <h4>
      We can make any of our pizzas in about 10 to 15 minutes, and they can be eaten in our dining room or taken out.
    </h4>
    <h2 class='toptext'>What's a Special Pizza? </h2>
    <h4>
      Your favourite cheese pizza with any 5 toppings of your choice! Yum!
    </h4>
</div>


  <!-- <div class="boxed" style='margin:10%;padding:8%'>
  <h2 class='toptext'> Regular v/s Sicilian Pizza </h2>
 <h4> Sicilian Pizza </h4>
Our Sicilian pizza is a deep-dish or thick-crust pizza. We sell them in a 9-slice or a 15-slice size.
<br>
The 9-slice size is 16" x 16" and will feed anywhere from 3 to 5 people.<br>
The 15-slice size is 28" x 16", comes in 2 large pizza boxes and can feed 6 to 9 people.<br>
<h4>Regular Pizza</h4>
Our Regular pizza is a thin-crust or Neapolitan pizza. They come in 2 sizes: small (12" in diameter) and large (16" in diameter). The small is suitable for 1 to 2 people while the large feeds 2 to 4 people.
<br>
We can make any of our pizzas in about 10 to 15 minutes, and they can be eaten in our dining room or taken out.
<h2 class='toptext'>What's a Special Pizza? </h2>
Your favourite cheese pizza with any 5 toppings of your choice! Yum!
</div> -->
{% endblock content %}
