{% extends "orders/base.html" %}
{% block title %}
Home
{% endblock title %}
{% block content %}

<div class="container px-5 boxed" style="margin-left:20%; margin-top: 5%; padding-top: 5%; padding-bottom: 8%; background-color: coral;">
  <h1 class='toptext text-center'> Home <i class='fa fa-home'></i></h1>
  <h2>
  We finally offer home delivery! For catering orders over $100 call us directly. 
  <br><br>For other orders log in to Doordash or GrubHub or Eat24 and they will deliver to you within 45 minutes, it's very simple!
  We accept Mastercard, Visa and Amex and we offer Gift Certificates which you can pick up in person or we can mail them out to you.
  <br>
  We can take orders by phone at 000-000-0000 or by email cheesilicious@test.com
  <br>
  Find us on:<br> 
  Twitter<a href="#" class="fa fa-twitter"></a>: @PinocchiosPizz 
  <br>
  Instagram
  <a href="#" class="fa fa-instagram"></a>: @pinocchiospizza1
  </h2>
</div>


  <!-- <div class="boxed" style='margin:10%;padding:10%'>
  We finally offer home delivery! For catering orders over $100 call us directly. 
  <br><br>For other orders log in to Doordash or GrubHub or Eat24 and they will deliver to you within 45 minutes, it's very simple!
  We accept Mastercard, Visa and Amex and we offer Gift Certificates which you can pick up in person or we can mail them out to you.
<br>
We can take orders by phone at 000-000-0000 or by email cheesilicious@test.com
<br>
Find us on:<br> 
Twitter<a href="#" class="fa fa-twitter"></a>: @PinocchiosPizz 
<br>
Instagram
<a href="#" class="fa fa-instagram"></a>: @pinocchiospizza1
</div> -->
{% endblock content %}
