{% extends "orders/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  SignUp
{% endblock title %}

{% block content %}
 
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12"></div>
    <div class="col-lg-5 col-md-5 col-12">
      <h1 class="text-center"> Sign Up </h1>
      <form action=" {%  url 'signup' %} " class="ui form" method='post' autocomplete='off'>
        {% csrf_token %}
        <div class="field" style="font-size: 17px;">
          {{form|crispy}}
        </div>  
        <div class="field">
          <input type='submit' class='btn btn-success' value='Sign Up' style="width: 50%; margin-left: 30%;">
        </div>
      </form>
        <h1 class="text-center">Have an Accout already? <a href = "{% url 'login' %}"> Login Here!</a></h1></div>
  <div class="col-lg-2 col-md-2 col-12"></div>
  </div>
{% endblock content %}